.card{
    width: 470px;
    background-color: white;
    margin-top: 350px;
    border: 2px solid black;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 10px hsl(292, 42%, 14%) ;
}