@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');


.questions{
    margin-top: 10px;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.question1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.question2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.question3{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.question4{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.answer1 > p{
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.answer2 > p{
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.answer3 > p{
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.answer4 > p{
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-style: normal;
}